:root {
  --font-body: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --success: 115 54% 40%;
  --background: 220 23% 95%;
  --foreground: 234 16% 25%;
  --card: 223 16% 98%;
  --card-foreground: 234 16% 25%;
  --popover: 223 16% 98%;
  --popover-foreground: 234 16% 25%;
  --primary: 266 85% 58%;
  --primary-foreground: 0 0% 100%;
  --secondary: 225 14% 88%;
  --secondary-foreground: 234 16% 27%;
  --muted: 225 14% 88%;
  --muted-foreground: 233 10% 46%;
  --accent: 189 55% 84%;
  --accent-foreground: 190 55% 30%;
  --destructive: 347 87% 55%;
  --destructive-foreground: 0 0% 100%;
  --border: 225 13% 79%;
  --input: 225 12% 74%;
  --ring: 266 85% 58%;
  --radius: 0.65rem;
  --chart-1: 266 85% 58%;
  --chart-2: 115 54% 40%;
  --chart-3: 189 55% 45%;
  --chart-4: 22 90% 55%;
  --chart-5: 347 87% 55%;
  --sidebar-background: 222 16% 91%;
  --sidebar-foreground: 234 16% 27%;
  --sidebar-primary: 266 85% 58%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 189 55% 81%;
  --sidebar-accent-foreground: 190 55% 30%;
  --sidebar-border: 225 13% 79%;
  --sidebar-ring: 266 85% 58%;
}

.dark {
  --background: 240 21% 15%;
  --foreground: 227 68% 88%;
  --card: 240 21% 19%;
  --card-foreground: 227 68% 88%;
  --popover: 240 21% 22%;
  --popover-foreground: 227 68% 88%;
  --primary: 267 84% 81%;
  --primary-foreground: 240 21% 15%;
  --secondary: 240 18% 25%;
  --secondary-foreground: 227 68% 88%;
  --muted: 240 18% 25%;
  --muted-foreground: 228 24% 68%;
  --accent: 189 42% 23%;
  --accent-foreground: 189 70% 76%;
  --destructive: 347 87% 67%;
  --destructive-foreground: 240 21% 15%;
  --border: 240 17% 31%;
  --input: 240 17% 28%;
  --ring: 267 84% 81%;
  --radius: 0.65rem;
  --chart-1: 267 84% 81%;
  --chart-2: 115 54% 62%;
  --chart-3: 189 70% 68%;
  --chart-4: 22 90% 67%;
  --chart-5: 347 87% 72%;
  --sidebar-background: 240 21% 11%;
  --sidebar-foreground: 227 68% 85%;
  --sidebar-primary: 267 84% 81%;
  --sidebar-primary-foreground: 240 21% 15%;
  --sidebar-accent: 189 42% 18%;
  --sidebar-accent-foreground: 189 70% 76%;
  --sidebar-border: 240 17% 25%;
  --sidebar-ring: 267 84% 81%;
}