:root {
  --font-body: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --success: 135 94% 65%;
  --background: 231 15% 18%;
  --foreground: 60 30% 96%;
  --card: 232 14% 22%;
  --card-foreground: 60 30% 96%;
  --popover: 232 14% 25%;
  --popover-foreground: 60 30% 96%;
  --primary: 265 89% 78%;
  --primary-foreground: 231 15% 18%;
  --secondary: 232 14% 27%;
  --secondary-foreground: 60 30% 96%;
  --muted: 232 14% 27%;
  --muted-foreground: 228 8% 70%;
  --accent: 191 97% 77%;
  --accent-foreground: 231 15% 18%;
  --destructive: 0 100% 67%;
  --destructive-foreground: 231 15% 18%;
  --border: 232 14% 33%;
  --input: 232 14% 30%;
  --ring: 265 89% 78%;
  --radius: 0.55rem;
  --chart-1: 265 89% 78%;
  --chart-2: 135 94% 65%;
  --chart-3: 191 97% 77%;
  --chart-4: 326 100% 74%;
  --chart-5: 60 30% 96%;
  --sidebar-background: 231 15% 14%;
  --sidebar-foreground: 60 30% 94%;
  --sidebar-primary: 265 89% 78%;
  --sidebar-primary-foreground: 231 15% 18%;
  --sidebar-accent: 232 14% 24%;
  --sidebar-accent-foreground: 191 97% 77%;
  --sidebar-border: 232 14% 29%;
  --sidebar-ring: 265 89% 78%;
}

.dark {
  --background: 231 15% 9%;
  --foreground: 60 30% 96%;
  --card: 232 14% 14%;
  --card-foreground: 60 30% 96%;
  --popover: 232 14% 17%;
  --popover-foreground: 60 30% 96%;
  --primary: 265 89% 78%;
  --primary-foreground: 231 15% 9%;
  --secondary: 232 14% 21%;
  --secondary-foreground: 60 30% 96%;
  --muted: 232 14% 21%;
  --muted-foreground: 228 8% 72%;
  --accent: 191 55% 24%;
  --accent-foreground: 191 97% 77%;
  --destructive: 0 100% 67%;
  --destructive-foreground: 231 15% 9%;
  --border: 232 14% 28%;
  --input: 232 14% 25%;
  --ring: 265 89% 78%;
  --radius: 0.55rem;
  --chart-1: 265 89% 78%;
  --chart-2: 135 94% 65%;
  --chart-3: 191 97% 77%;
  --chart-4: 326 100% 74%;
  --chart-5: 60 30% 96%;
  --sidebar-background: 231 15% 6%;
  --sidebar-foreground: 60 30% 93%;
  --sidebar-primary: 265 89% 78%;
  --sidebar-primary-foreground: 231 15% 9%;
  --sidebar-accent: 232 14% 17%;
  --sidebar-accent-foreground: 191 97% 77%;
  --sidebar-border: 232 14% 23%;
  --sidebar-ring: 265 89% 78%;
}
